openapi: 3.0.4
info:
  title: Deutscher Bundestag - Lobbyregister
  description: API des Lobbyregisters
  version: 2.0.0
  termsOfService: https://www.lobbyregister.bundestag.de/informationen-und-hilfe/open-data-1049716
  contact:
    name: Registerführende Stelle des Lobbyregisters
    email: lobbyregister@bundestag.de
    url: https://www.lobbyregister.bundestag.de/informationen-und-hilfe/open-data-1049716
servers:
- url: https://api.lobbyregister.bundestag.de/rest/v2
security:
- ApiKeyHeader: []
- ApiKeyQuery: []
paths:
  /registerentries/{registerNumber}:
    get:
      summary: Suche nach einem Registereintrag anhand der Registernummer
      operationId: getRegisterEntryByRegisterNumber
      tags:
      - Registereintrag
      responses:
        200:
          description: Registereintrag
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterEntry"
            application/xml:
              schema:
                $ref: "#/components/schemas/RegisterEntry"
        400:
          $ref: "#/components/responses/BadRequestResponse"
        401:
          $ref: "#/components/responses/UnauthorizedResponse"
        404:
          $ref: "#/components/responses/NotFoundResponse"
      parameters:
      - $ref: "#/components/parameters/RegisterNumber"
      - $ref: "#/components/parameters/Format"
  /registerentries/{registerNumber}/{version}:
    get:
      summary: Suche nach einem Registereintrag anhand der Registernummer und Version
      operationId: getRegisterEntryByRegisterNumberAndVersion
      tags:
      - Registereintrag
      responses:
        200:
          description: Registereintrag
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterEntry"
            application/xml:
              schema:
                $ref: "#/components/schemas/RegisterEntry"
        400:
          $ref: "#/components/responses/BadRequestResponse"
        401:
          $ref: "#/components/responses/UnauthorizedResponse"
        404:
          $ref: "#/components/responses/NotFoundResponse"
      parameters:
      - $ref: "#/components/parameters/RegisterNumber"
      - $ref: "#/components/parameters/Version"
      - $ref: "#/components/parameters/Format"
  /registerentries:
    get:
      summary: Suche nach Registereinträgen mittels Freitextsuche
      operationId: getRegisterEntriesByQuery
      tags:
      - Registereintrag
      responses:
        200:
          description: Liste von Registereinträgen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterEntry"
            application/xml:
              schema:
                $ref: "#/components/schemas/RegisterEntry"
        400:
          $ref: "#/components/responses/BadRequestResponse"
        401:
          $ref: "#/components/responses/UnauthorizedResponse"
        404:
          $ref: "#/components/responses/NotFoundResponse"
      parameters:
      - $ref: "#/components/parameters/Query"
      - $ref: "#/components/parameters/Cursor"
      - $ref: "#/components/parameters/Format"
  /statistics/registerentries:
    get:
      summary: Statistiken der Registereinträge
      operationId: getStatisticsRegisterEntries
      tags:
      - Statistiken
      responses:
        200:
          description: Statistik Kennzahlen zu Registereinträgen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterEntryStatistics"
            application/xml:
              schema:
                $ref: "#/components/schemas/RegisterEntryStatistics"
        400:
          $ref: "#/components/responses/BadRequestResponse"
        401:
          $ref: "#/components/responses/UnauthorizedResponse"
        404:
          $ref: "#/components/responses/NotFoundResponse"
      parameters:
      - $ref: "#/components/parameters/Format"
components:
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      description: "Beispiel: \"ApiKey APz9KFAfJY8ScgAcx4Tq7wvXhaxDUSAc\""
    ApiKeyQuery:
      type: apiKey
      in: query
      name: apikey
      description: "Beispiel: \"APz9KFAfJY8ScgAcx4Tq7wvXhaxDUSAc\""
  parameters:
    RegisterNumber:
      name: registerNumber
      in: path
      required: true
      schema:
        type: string
        pattern: ^R\d{6}$
      description: Eindeutiger Schlüssel eines Registereintrags
      example: R001234
    Version:
      name: version
      in: path
      required: true
      schema:
        type: integer
        minimum: 1
      description: Version eines Registereintrags
      example: 1
    Query:
      name: q
      in: query
      required: false
      schema:
        type: string
      description: Suchbegriff der Freitextsuche
      example: Energie
    Cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
      description: Position des Cursors zur Anfrage weiterer Entitäten. Übersteigt die Anzahl der gefundenen Entitäten das jeweilige Limit, muss eine Folgeanfrage gestellt werden, um weitere Entitäten zu laden. Eine Folgeanfrage wird gebildet, indem alle Parameter der ursprünglichen Anfrage wiederholt werden und zusätzlich der cursor Parameter der letzten Antwort eingesetzt wird. Es können solange Folgeanfragen gestellt werden, bis sich der cursor nicht mehr ändert. Dies signalisiert, dass alle Entitäten geladen wurden.
    Format:
      name: format
      in: query
      required: false
      schema:
        type: string
        enum:
        - json
      description: Ausgabeformat
      example: json
  responses:
    BadRequestResponse:
      description: Syntaxfehler in einem der Anfrageparameter
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                example: UNEXPECTED_PARAMETERS
              errorDescription:
                type: string
                example: "The following parameters are unexpected in this context: registerEntry"
            required:
            - errorCode
            - errorDescription
    UnauthorizedResponse:
      description: Ein gültiger API-Key ist für alle Anfragen erforderlich. Dieser kann entweder im HTTP Authorization Header oder als Anfrageparameter apikey gesendet werden.
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                example: UNAUTHORIZED
              errorDescription:
                type: string
                example: No API key provided
            required:
            - errorCode
            - errorDescription
    NotFoundResponse:
      description: Die angefragte Entität wurde nicht gefunden
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                example: ITEM_NOT_FOUND
              errorDescription:
                type: string
                example: The item was not found
            required:
            - errorCode
            - errorDescription
  schemas:
    RegisterEntry:
      properties:
        source:
          type: string
          description: Quelle dieser Daten
        sourceUrl:
          type: string
          format: uri
          description: URL der Quelle
        sourceDate:
          type: string
          format: date-time
          description: Zeitpunkt der Datenabfrage
        jsonDocumentationUrl:
          type: string
          format: uri
          description: URL für JSON-Dokumentation
        accountDetails:
          type: object
          description: Kontodetails
          properties:
            activeLobbyist:
              type: boolean
              description: Gibt an ob der/die IV aktuell aktive (TRUE) oder inaktive (FALSE) Interessenvertretung betreibt
            inactiveLobbyistStartDate:
              type: string
              format: date-time
              description: Start der inaktiven Interessenvertretung
            activeDateRanges:
              type: array
              description: Zusammenhängende Zeiträume von aktiver Interessenvertretung
              items:
                type: object
                properties:
                  fromDate:
                    type: string
                    format: date-time
                    description: Beginn des Zeitraums aktiver Interessenvertretung (einschließlich)
                  untilDate:
                    type: string
                    format: date-time
                    description: Ende der aktiven Lobbyarbeit. Ist nur für IVs angegeben die aktuell keine aktive Interessenvertretung betreiben.
                additionalProperties: false
                required:
                - fromDate
            inactiveDateRanges:
              type: array
              description: Zusammenhängende Zeiträume von inaktiver Interessenvertretung
              items:
                type: object
                properties:
                  fromDate:
                    type: string
                    format: date-time
                    description: Beginn des Zeitraums inaktiver Interessenvertretung (einschließlich)
                  untilDate:
                    type: string
                    format: date-time
                    description: Ende des Zeitraums inaktiver Interessenvertretung (ausschließlich). Nicht gesetzt, wenn derzeit noch inaktiv.
                additionalProperties: false
                required:
                - fromDate
            firstPublicationDate:
              type: string
              format: date-time
              description: Datum der Erstveröffentlichung
            lastUpdateDate:
              type: string
              format: date-time
              description: Datum der letzten Änderung
            registerEntryVersions:
              type: array
              description: Übersicht aller Versionen die für das Konto vorliegen
              items:
                type: object
                properties:
                  registerEntryId:
                    type: integer
                    description: Interne (Versions-)ID des Registereintrags
                  jsonDetailUrl:
                    type: string
                    format: uri
                    description: Die URL der JSON-Datei des Registereintrags
                  version:
                    type: integer
                    description: Versionsnummer des Registereintrags
                  legislation:
                    type: string
                    description: Gesetzeslage (GL) die Grundlage für den Registereintrag ist
                    enum:
                    - GL2022
                    - GL2024
                  validFromDate:
                    type: string
                    format: date-time
                    description: Startdatum der Gültigkeit des Registereintrags
                  validUntilDate:
                    type: string
                    format: date-time
                    description: Enddatum der Gültigkeit des Registereintrags
                  activeUntilDate:
                    type: string
                    format: date-time
                    description: Enddatum der aktiven Lobbyarbeit. Wird nur für die aktuellste Version angezeigt, wenn das Konto inaktiv ist.
                  versionActiveLobbyist:
                    type: boolean
                    description: Gibt an, ob der/die IV zum Zeitpunkt dieser Version aktive (TRUE) oder inaktive (FALSE) Interessenvertretung betrieben hat.
                additionalProperties: false
                required:
                - registerEntryId
                - version
                - legislation
                - validFromDate
                - versionActiveLobbyist
            accountHasCodexViolations:
              type: boolean
              description: Wahr, wenn mindestens ein Verstoß gegen den Verhaltenskodex vorliegt, ansonsten falsch
            codexViolations:
              type: array
              description: Liste der aktiven Verstöße gegen den Verhaltenskodex
              items:
                type: object
                properties:
                  codexViolationName:
                    type: string
                    description: Name des Verstoßes gegen den Verhaltenskodex
                additionalProperties: false
          additionalProperties: false
          required:
          - activeLobbyist
          - activeDateRanges
          - firstPublicationDate
          - registerEntryVersions
          - accountHasCodexViolations
        registerNumber:
          type: string
          description: Registernummer des Registereintrags
        registerEntryDetails:
          type: object
          description: Detaillierte Informationen zum Registereintrag
          properties:
            registerEntryId:
              type: integer
              description: Interne (Versions-)ID des Registereintrags
            legislation:
              type: string
              description: Gesetzeslage (GL) die Grundlage für den Registereintrag ist
              enum:
              - GL2022
              - GL2024
            version:
              type: integer
              description: Versionsnummer des Registereintrags
            detailsPageUrl:
              type: string
              format: uri
              description: URL zur öffentlichen Detailseite des Registereintrags
            pdfUrl:
              type: string
              format: uri
              description: Die URL der PDF-Datei des Registereintrags
            validFromDate:
              type: string
              format: date-time
              description: Startdatum der Gültigkeit des Registereintrags
            validUntilDate:
              type: string
              format: date-time
              description: Enddatum der Gültigkeit des Registereintrags
            annualUpdate:
              type: object
              description: Angaben zur jährlichen Aktualisierung (relevant für Veröffentlichung nach Gesetzeslage 2022)
              properties:
                updateMissing:
                  type: boolean
                  description: Gibt an, ob die jährliche Aktualisierung stattgefunden hat (relevant für Veröffentlichung nach Gesetzeslage 2022)
                lastAnnualUpdate:
                  type: string
                  format: date-time
                  description: Das Datum der letzten jährlichen Aktualisierung
              additionalProperties: false
            fiscalYearUpdate:
              type: object
              description: Angaben zur Geschäftsjahresaktualisierung (relevant für Veröffentlichung nach Gesetzeslage 2024)
              properties:
                updateMissing:
                  type: boolean
                  description: Gibt an, ob die Geschäftsjahresaktualisierung stattgefunden hat (relevant für Veröffentlichung nach Gesetzeslage 2024)
                lastFiscalYearUpdate:
                  type: string
                  format: date-time
                  description: Das Datum der letzten Geschäftsjahresaktualisierung
              additionalProperties: false
            refusedAnything:
              type: boolean
              description: Gibt an, ob eine Interessenvertreterin/ein Interessenvertreter Angaben verweigert hat
          additionalProperties: false
          required:
          - registerEntryId
          - legislation
          - version
          - pdfUrl
          - validFromDate
        lobbyistIdentity:
          type: object
          description: Informationen zur Identität der Interessenvertreterin/des Interessenvertreters
          properties:
            identity:
              type: string
              description: Personentyp der Interessenvertreterin/des Interessenvertreters
              enum:
              - NATURAL
              - ORGANIZATION
            naturalPersonType:
              type: object
              description: Art der natürlichen Person
              properties:
                code:
                  type: string
                  description: Interner Code
                de:
                  type: string
                  description: Deutsche Bezeichnung
                en:
                  type: string
                  description: Englische Bezeichnung
              additionalProperties: false
              required:
              - code
              - de
              - en
            academicDegreeBefore:
              type: string
              description: Akademischer Grad vor dem Vornamen
            academicDegreeAfter:
              type: string
              description: Akademischer Grad nach dem Familiennamen
            lastName:
              type: string
              description: Familienname
            firstName:
              type: string
              description: Vorname. Wird nur für Registereinträge nach GL2024 im öffentlichen JSON Export verwendet. Für Registereinträge nach GL2022 wird das Attribut "commonFirstName" verwendet.
            commonFirstName:
              type: string
              description: Gebräuchlicher Vorname
            artistName:
              type: string
              description: Ordens- oder Künstlername
            companyName:
              type: string
              description: Firma oder Bezeichnung des Unternehmens
            recentGovernmentFunctionPresent:
              type: boolean
              description: Gibt an, ob ein Drehtüreffekt vorhanden ist
            recentGovernmentFunction:
              type: object
              description: Angaben zum Drehtüreffekt
              properties:
                ended:
                  type: boolean
                  description: Gibt an, ob das Amt/die Mitgliedschaft/die Funktion in der Bundesregierung/im Bundestag/in der Bundesverwaltung noch aktiv ausgeübt wird oder schon beendet wurde
                endDate:
                  type: string
                  pattern: ^\d{4}-\d{2}$
                  description: Enddatum der aktiven Ausübung eines Amts/einer Mitgliedschaft/einer Funktion
                type:
                  type: object
                  description: Bereich der Drehtür relevanten Tätigkeit (Bundestag, Bundesregierung oder Bundesverwaltung)
                  properties:
                    code:
                      type: string
                      description: Interner Code
                    de:
                      type: string
                      description: Deutsche Bezeichnung
                    en:
                      type: string
                      description: Englische Bezeichnung
                  additionalProperties: false
                houseOfRepresentatives:
                  type: object
                  description: Informationen zur Mitgliedschaft oder Funktion im Deutschen Bundestag
                  properties:
                    function:
                      type: object
                      description: Funktion innerhalb des Bundestags
                      properties:
                        code:
                          type: string
                          description: Interner Code
                        de:
                          type: string
                          description: Deutsche Bezeichnung
                        en:
                          type: string
                          description: Englische Bezeichnung
                      additionalProperties: false
                    functionPosition:
                      type: string
                      description: Angabe der Funktion/Stellung innerhalb der Beschäftigung im Bundestag
                  additionalProperties: false
                  required:
                  - function
                federalGovernment:
                  type: object
                  description: Informationen zum Amt in der Bundesregierung
                  properties:
                    function:
                      type: object
                      description: Funktion innerhalb der Bundesregierung
                      properties:
                        code:
                          type: string
                          description: Interner Code
                        de:
                          type: string
                          description: Deutsche Bezeichnung
                        en:
                          type: string
                          description: Englische Bezeichnung
                      additionalProperties: false
                    department:
                      type: object
                      description: Ministerium für das das Amt in der Bundesregierung wahrgenommen wird
                      properties:
                        title:
                          type: string
                          description: Title des Ministeriums
                        shortTitle:
                          type: string
                          description: Offizielle Abkürzung des Ministeriums
                        url:
                          type: string
                          format: uri
                          description: Verlinkung des Webauftritt des Ministeriums
                        electionPeriod:
                          type: integer
                          description: Gibt Informationen zur Wahlperiode in der das Ministerium zuletzt unter diesem Namen existierte. Wird nur angegeben, wenn dieser Ministerium in der aktuellen Wahlperiode nicht mehr unter diesem Namen agiert.
                      additionalProperties: false
                  additionalProperties: false
                  required:
                  - function
                federalAdministration:
                  type: object
                  description: Informationen zur Funktion innerhalb der Bundesverwaltung
                  properties:
                    supremeFederalAuthority:
                      type: string
                      description: Name der oberen Bundesbehörde, der die Behörde zugeordnet wird. Gibt es keine zugehörige obere Bundesbehörde, wird der Name der Behörde angezeigt.
                    supremeFederalAuthorityShort:
                      type: string
                      description: Name der oberen Bundesbehörde (Abkürzung)
                    supremeFederalAuthorityElectionPeriod:
                      type: integer
                      description: Gibt Informationen zur Wahlperiode in der das Ministerium zuletzt unter diesem Namen existierte. Wird nur angegeben, wenn dieser Ministerium in der aktuellen Wahlperiode nicht mehr unter diesem Namen agiert.
                    function:
                      type: string
                      description: Funktion innerhalb der Behörde
                  additionalProperties: false
              additionalProperties: false
              required:
              - type
            address:
              type: object
              description: Adresse - wird für natürliche Personen nicht im öffentlichen JSON bereitgestellt
              properties:
                type:
                  type: string
                  description: Adressentyp
                  enum:
                  - NATIONAL
                  - POSTBOX
                  - FOREIGN
                nationalAdditional1:
                  type: string
                  description: Adressfeld 1
                nationalAdditional2:
                  type: string
                  description: Adressfeld 2
                internationalAdditional1:
                  type: string
                  description: Internationales Adressfeld 1
                internationalAdditional2:
                  type: string
                  description: Internationales Adressfeld 2
                street:
                  type: string
                  description: Straße
                streetNumber:
                  type: string
                  description: Straßen-Nr.
                zipCode:
                  type: string
                  description: Postleitzahl
                city:
                  type: string
                  description: Ort
                postBox:
                  type: string
                  description: Postfach
                country:
                  type: object
                  description: Staat
                  properties:
                    code:
                      type: string
                      description: Ländercode
                    de:
                      type: string
                      description: Deutsche Bezeichnung
                    en:
                      type: string
                      description: Englische Bezeichnung
                  additionalProperties: false
              additionalProperties: false
            contactDetails:
              type: object
              description: Kontaktdaten - werden für natürliche Personen nicht im öffentlichen JSON bereitgestellt
              properties:
                phoneNumber:
                  type: string
                  description: Telefonnummer
                emails:
                  type: array
                  description: Liste der E-Mail-Adressen
                  items:
                    type: object
                    properties:
                      email:
                        type: string
                        format: email
                        description: E-Mail-Adresse
                    additionalProperties: false
                websites:
                  type: array
                  description: Liste der Webseiten
                  items:
                    type: object
                    properties:
                      website:
                        type: string
                        description: Webseite
                    additionalProperties: false
              additionalProperties: false
              required:
              - emails
            entrustedPersonsPresent:
              type: boolean
              description: Gibt an, ob Personen mit der Interessenvertretung im Sinne des Lobbyregisters nicht nur bei Gelegenheit betraut wurden und diese unmittelbar selbst ausüben.
            entrustedPersons:
              type: array
              description: Liste der betrauten Personen
              items:
                type: object
                properties:
                  academicDegreeBefore:
                    type: string
                    description: Akademischer Grad vor dem Vornamen
                  academicDegreeAfter:
                    type: string
                    description: Akademischer Grad nach dem Familiennamen
                  lastName:
                    type: string
                    description: Familienname
                  firstName:
                    type: string
                    description: Vorname
                  artistName:
                    type: string
                    description: Ordens- oder Künstlername
                  recentGovernmentFunctionPresent:
                    type: boolean
                    description: Gibt an, ob ein Drehtüreffekt vorhanden ist
                  recentGovernmentFunction:
                    type: object
                    description: Angaben zum Drehtüreffekt
                    properties:
                      ended:
                        type: boolean
                        description: Gibt an, ob das Amt/die Mitgliedschaft/die Funktion in der Bundesregierung/im Bundestag/in der Bundesverwaltung noch aktiv ausgeübt wird oder schon beendet wurde
                      endDate:
                        type: string
                        pattern: ^\d{4}-\d{2}$
                        description: Enddatum der aktiven Ausübung eines Amts/einer Mitgliedschaft/einer Funktion
                      type:
                        type: object
                        description: Bereich der Drehtür relevanten Tätigkeit (Bundestag, Bundesregierung oder Bundesverwaltung)
                        properties:
                          code:
                            type: string
                            description: Interner Code
                          de:
                            type: string
                            description: Deutsche Bezeichnung
                          en:
                            type: string
                            description: Englische Bezeichnung
                        additionalProperties: false
                      houseOfRepresentatives:
                        type: object
                        description: Angaben zur Mitgliedschaft oder Funktion im Deutschen Bundestag
                        properties:
                          function:
                            type: object
                            description: Funktion innerhalb des Bundestags
                            properties:
                              code:
                                type: string
                                description: Interner Code
                              de:
                                type: string
                                description: Deutsche Bezeichnung
                              en:
                                type: string
                                description: Englische Bezeichnung
                            additionalProperties: false
                          functionPosition:
                            type: string
                            description: Angabe der Funktion/Stellung innerhalb der Beschäftigung im Bundestag
                        additionalProperties: false
                      federalGovernment:
                        type: object
                        description: Angaben zur Bundesregierung
                        properties:
                          function:
                            type: object
                            description: Funktion innerhalb der Bundesregierung
                            properties:
                              code:
                                type: string
                                description: Interner Code
                              de:
                                type: string
                                description: Deutsche Bezeichnung
                              en:
                                type: string
                                description: Englische Bezeichnung
                            additionalProperties: false
                          department:
                            type: object
                            description: Zuletzt wahrgenommenes Amt in der Bundesregierung
                            properties:
                              title:
                                type: string
                                description: Title des Ministeriums
                              shortTitle:
                                type: string
                                description: Offizielle Abkürzung des Ministeriums
                              url:
                                type: string
                                format: uri
                                description: Verlinkung des Webauftritt des Ministeriums
                              electionPeriod:
                                type: integer
                                description: Gibt Informationen zur Wahlperiode in der das Ministerium zuletzt unter diesem Namen existierte. Wird nur angegeben, wenn dieser Ministerium in der aktuellen Wahlperiode nicht mehr unter diesem Namen agiert.
                            additionalProperties: false
                        additionalProperties: false
                      federalAdministration:
                        type: object
                        description: Angaben zur Bundesverwaltung
                        properties:
                          supremeFederalAuthority:
                            type: string
                            description: Name der oberen Bundesbehörde
                          supremeFederalAuthorityShort:
                            type: string
                            description: Name der oberen Bundesbehörde (Abkürzung)
                          supremeFederalAuthorityElectionPeriod:
                            type: integer
                            description: Gibt Informationen zur Wahlperiode in der das Ministerium zuletzt unter diesem Namen existierte. Wird nur angegeben, wenn dieser Ministerium in der aktuellen Wahlperiode nicht mehr unter diesem Namen agiert.
                          function:
                            type: string
                            description: Beschreibung der Funktion
                        additionalProperties: false
                    additionalProperties: false
                additionalProperties: false
            name:
              type: string
              description: Firma, Name oder Bezeichnung der Organisation
            legalFormType:
              type: object
              description: Art der Organisation/Rechtsform
              properties:
                code:
                  type: string
                  description: Interner Code
                de:
                  type: string
                  description: Deutsche Bezeichnung
                en:
                  type: string
                  description: Englische Bezeichnung
              additionalProperties: false
            legalForm:
              type: object
              description: Rechtsform
              properties:
                code:
                  type: string
                  description: Interner Code
                de:
                  type: string
                  description: Deutsche Bezeichnung
                en:
                  type: string
                  description: Englische Bezeichnung
                legalFormText:
                  type: string
                  description: Bezeichnung/Kurzbeschreibung der Rechtsform oder Art der Organisation
              additionalProperties: false
            capitalCityRepresentationPresent:
              type: boolean
              description: Gibt an, ob eine Hauptstadtrepräsentanz vorhanden ist
            capitalCityRepresentation:
              type: object
              description: Adresse
              properties:
                address:
                  type: object
                  description: Adresse
                  properties:
                    type:
                      type: string
                      description: Adressentyp
                      enum:
                      - NATIONAL
                      - POSTBOX
                      - FOREIGN
                    nationalAdditional1:
                      type: string
                      description: Adressfeld 1
                    nationalAdditional2:
                      type: string
                      description: Adressfeld 2
                    street:
                      type: string
                      description: Straße
                    streetNumber:
                      type: string
                      description: Straßen-Nr.
                    zipCode:
                      type: string
                      description: Postleitzahl
                    city:
                      type: string
                      description: Ort
                    postBox:
                      type: string
                      description: Postfach
                  additionalProperties: false
                contactDetails:
                  type: object
                  description: Kontaktdetails
                  properties:
                    phoneNumber:
                      type: string
                      description: Telefonnummer
                    email:
                      type: string
                      format: email
                      description: E-Mail-Adresse
                  additionalProperties: false
              additionalProperties: false
            legalRepresentatives:
              type: array
              description: Liste der gesetzlichen Vertreter/-innen der Organisation
              items:
                type: object
                properties:
                  academicDegreeBefore:
                    type: string
                    description: Akademischer Grad vor dem Vornamen
                  academicDegreeAfter:
                    type: string
                    description: Akademischer Grad nach dem Familiennamen
                  lastName:
                    type: string
                    description: Familienname
                  firstName:
                    type: string
                    description: Vorname - wird nur für Registereinträge nach GL2024 im öffentlichen JSON Export verwendet. Für Registereinträge nach GL2022 wird das Attribut "commonFirstName" verwendet.
                  commonFirstName:
                    type: string
                    description: Gebräuchlicher Vorname
                  artistName:
                    type: string
                    description: Ordens- oder Künstlername
                  function:
                    type: string
                    description: Funktion
                  recentGovernmentFunctionPresent:
                    type: boolean
                    description: Gibt an, ob ein Drehtüreffekt vorhanden ist
                  recentGovernmentFunction:
                    type: object
                    description: Angaben zum Drehtüreffekt
                    properties:
                      ended:
                        type: boolean
                        description: Gibt an, ob das Amt/die Mitgliedschaft/die Funktion in der Bundesregierung/im Bundestag/in der Bundesverwaltung noch aktiv ausgeübt wird oder schon beendet wurde
                      endDate:
                        type: string
                        pattern: ^\d{4}-\d{2}$
                        description: Enddatum der aktiven Ausübung eines Amts/einer Mitgliedschaft/einer Funktion
                      type:
                        type: object
                        description: Bereich der Drehtür relevanten Tätigkeit (Bundestag, Bundesregierung oder Bundesverwaltung)
                        properties:
                          code:
                            type: string
                            description: Interner Code
                          de:
                            type: string
                            description: Deutsche Bezeichnung
                          en:
                            type: string
                            description: Englische Bezeichnung
                        additionalProperties: false
                        required:
                        - code
                        - de
                        - en
                      houseOfRepresentatives:
                        type: object
                        description: Angaben zur Mitgliedschaft oder Funktion im Deutschen Bundestag
                        properties:
                          function:
                            type: object
                            description: Funktion innerhalb des Bundestags
                            properties:
                              code:
                                type: string
                                description: Interner Code
                              de:
                                type: string
                                description: Deutsche Bezeichnung
                              en:
                                type: string
                                description: Englische Bezeichnung
                            additionalProperties: false
                            required:
                            - code
                            - de
                            - en
                          functionPosition:
                            type: string
                            description: Angabe der Funktion/Stellung innerhalb der Beschäftigung im Bundestag
                        additionalProperties: false
                        required:
                        - function
                      federalGovernment:
                        type: object
                        description: Angaben zur Bundesregierung
                        properties:
                          function:
                            type: object
                            description: Funktion innerhalb der Bundesregierung
                            properties:
                              code:
                                type: string
                                description: Interner Code
                              de:
                                type: string
                                description: Deutsche Bezeichnung
                              en:
                                type: string
                                description: Englische Bezeichnung
                            additionalProperties: false
                            required:
                            - code
                            - de
                            - en
                          department:
                            type: object
                            description: Zuletzt wahrgenommenes Amt in der Bundesregierung
                            properties:
                              title:
                                type: string
                                description: Title des Ministeriums
                              shortTitle:
                                type: string
                                description: Offizielle Abkürzung des Ministeriums
                              url:
                                type: string
                                format: uri
                                description: Verlinkung des Webauftritt des Ministeriums
                              electionPeriod:
                                type: integer
                                description: Gibt Informationen zur Wahlperiode in der das Ministerium zuletzt unter diesem Namen existierte. Wird nur angegeben, wenn dieser Ministerium in der aktuellen Wahlperiode nicht mehr unter diesem Namen agiert.
                            additionalProperties: false
                        additionalProperties: false
                        required:
                        - function
                      federalAdministration:
                        type: object
                        description: Angaben zur Bundesverwaltung
                        properties:
                          supremeFederalAuthority:
                            type: string
                            description: Name der oberen Bundesbehörde
                          supremeFederalAuthorityShort:
                            type: string
                            description: Name der oberen Bundesbehörde (Abkürzung)
                          supremeFederalAuthorityElectionPeriod:
                            type: integer
                            description: Gibt Informationen zur Wahlperiode in der das Ministerium zuletzt unter diesem Namen existierte. Wird nur angegeben, wenn dieser Ministerium in der aktuellen Wahlperiode nicht mehr unter diesem Namen agiert.
                          function:
                            type: string
                            description: Beschreibung der Funktion
                        additionalProperties: false
                        required:
                        - function
                    additionalProperties: false
                    required:
                    - ended
                    - type
                  entrustedPerson:
                    type: boolean
                    description: Gibt an, ob die vertretungsberechtigte Person für die Organisation die Interessenvertretung unmittelbar selbst ausübt
                  contactDetails:
                    type: object
                    description: Kontaktdetails
                    properties:
                      phoneNumber:
                        type: string
                        description: Telefonnummer - ist nur für Registereinträge nach GL2022 im öffentlichen JSON Export enthalten
                      emails:
                        type: array
                        description: Liste der E-Mail-Adressen - ist nur für Registereinträge nach GL2022 im öffentlichen JSON Export enthalten
                        items:
                          type: object
                          properties:
                            email:
                              type: string
                              format: email
                              description: E-Mail-Adresse - ist nur für Registereinträge nach GL2022 im öffentlichen JSON Export enthalten
                          additionalProperties: false
                    additionalProperties: false
                additionalProperties: false
            namedEmployeesPresent:
              type: boolean
              description: Gibt an, ob Beschäftigte vorhanden sind
            namedEmployees:
              type: array
              description: Liste der Beschäftigten
              items:
                type: object
                properties:
                  academicDegreeBefore:
                    type: string
                    description: Akademischer Grad vor dem Vornamen
                  academicDegreeAfter:
                    type: string
                    description: Akademischer Grad nach dem Familiennamen
                  lastName:
                    type: string
                    description: Familienname
                  commonFirstName:
                    type: string
                    description: Gebräuchlicher Vorname
                additionalProperties: false
            membersPresent:
              type: boolean
              description: Gibt an, ob Mitglieder der Organisation vorhanden sind
            membersCount:
              type: object
              description: Beinhaltet die Anzahl der Mitglieder, die natürliche Personen sind
              properties:
                naturalPersons:
                  type: integer
                  description: Anzahl der Mitglieder, die natürliche Personen sind
                organizations:
                  type: integer
                  description: Anzahl der Mitglieder, die juristische Personen, Personengesellschaften oder sonstige Organisationen sind
                totalCount:
                  type: integer
                  description: Gesamtzahl der Mitglieder Summe setzt sich zusammen aus natürlichen und juristischen Personen für Organisationen
                dateCount:
                  type: string
                  format: date
                  description: Datum der Zählung (TT.MM.JJJJ)
              additionalProperties: false
            membershipsPresent:
              type: boolean
              description: Gibt an, ob Mitgliedschaften vorhanden sind
            memberships:
              type: array
              description: Die Mitgliedschaften der Organisation
              items:
                type: object
                properties:
                  membership:
                    type: string
                    description: Der Name der Mitgliedschaft
                additionalProperties: false
          additionalProperties: false
        activitiesAndInterests:
          type: object
          description: Informationen zu Tätigkeiten und Interessenbereichen des Interessenvertreters/der Interessenvertreterin
          properties:
            activity:
              type: object
              description: Informationen zur Tätigkeit des Interessenvertreters/der Interessenvertreterin
              properties:
                code:
                  type: string
                  description: Interner Code
                de:
                  type: string
                  description: Deutsche Bezeichnung
                en:
                  type: string
                  description: Englische Bezeichnung
                activityText:
                  type: string
                  description: Weitere Informationen zur Tätigkeit des Lobbyisten
                activityLegalBasis:
                  type: string
                  description: Weitere Informationen zur Tätigkeit des Lobbyisten
              additionalProperties: false
            typesOfExercisingLobbyWork:
              type: array
              description: Liste der Art der Ausübung der Interessenvertretung
              items:
                type: object
                properties:
                  code:
                    type: string
                    description: Interner Code
                  de:
                    type: string
                    description: Deutsche Bezeichnung
                  en:
                    type: string
                    description: Englische Bezeichnung
                additionalProperties: false
            fieldsOfInterest:
              type: array
              description: Interessenbereiche
              items:
                type: object
                properties:
                  code:
                    type: string
                    description: Interner Code
                  de:
                    type: string
                    description: Deutsche Bezeichnung
                  en:
                    type: string
                    description: Englische Bezeichnung
                  fieldOfInterestText:
                    type: string
                    description: Freitextfeld zur genaueren Erläuterung für den Interessenbereich "Sonstige"
                additionalProperties: false
            activityOperationType:
              type: string
              description: "Die Interessenvertretung wird selbst betrieben oder in Auftrag gegeben. \nGibt an ob die Interessenvertretung selbst betrieben (SELF_OPERATED) oder in Auftrag gegeben wird (MANDATE_OPERATED) oder beide Kriterien zutreffen (BOTH)."
              enum:
              - SELF_OPERATED
              - MANDATE_OPERATED
              - BOTH
            activityDescription:
              type: string
              description: Beschreibung der Tätigkeiten im Bereich der Interessenvertretung
            legislativeProjects:
              type: array
              description: Liste der Gesetzesvorhaben
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: Gesetzes- oder andere Vorhaben mit Bezeichnung
                  printingNumber:
                    type: string
                    description: Gesetzesvorhaben mit Drucksachennummer
                  documentTitle:
                    type: string
                    description: Titel des DIP-Dokuments
                  documentUrl:
                    type: string
                    format: uri
                    description: URL des DIP-Dokuments
                additionalProperties: false
          additionalProperties: false
          required:
          - activity
          - fieldsOfInterest
        clientIdentity:
          type: object
          description: Angaben zur Identität des Auftraggebers/der Auftraggeberin
          properties:
            clientsPresent:
              type: boolean
              description: Gibt an, ob Auftraggeber/-innen vorhanden sind
            clientsCount:
              type: integer
              description: Anzahl der Auftraggeber/-innen
            clientOrganizations:
              type: array
              description: Liste der referenzierten Auftraggeber/-innen als Organisation. Das Attribut ist leer, wenn die Interessenvertretung nicht im Auftrag betrieben wird oder wenn es sich bei den Auftraggebern um natürliche Personen handelt.
              items:
                type: object
                properties:
                  referenceName:
                    type: string
                    description: Name der referenzierten Auftraggeberin/des Auftraggebers als Organisation
                  referenceDetailsPageUrl:
                    type: string
                    format: uri
                    description: URL zum öffentlichen Registereintrag der referenzierten Auftraggeberin/des Auftraggebers als Organisation
                  name:
                    type: string
                    description: Firma, Namen oder Bezeichnung der manuell angelegten Auftraggeberorganisation
                  legalFormType:
                    type: object
                    description: Art der Organisation/Rechtsform
                    properties:
                      code:
                        type: string
                        description: Interner Code
                      de:
                        type: string
                        description: Deutsche Bezeichnung
                      en:
                        type: string
                        description: Englische Bezeichnung
                    additionalProperties: false
                  legalForm:
                    type: object
                    description: Rechtsform
                    properties:
                      code:
                        type: string
                        description: Interner Code
                      de:
                        type: string
                        description: Deutsche Bezeichnung
                      en:
                        type: string
                        description: Englische Bezeichnung
                      legalFormText:
                        type: string
                        description: Bezeichnung/Kurzbeschreibung der Rechtsform oder Art der Organisation
                    additionalProperties: false
                  contactDetails:
                    type: object
                    description: Kontaktdaten der manuell angelegten Auftraggeberorganisation
                    properties:
                      phoneNumber:
                        type: string
                        description: Telefonnummer
                      emails:
                        type: array
                        description: Liste der E-Mail-Adressen
                        items:
                          type: object
                          properties:
                            email:
                              type: string
                              format: email
                              description: E-Mail-Adresse
                          additionalProperties: false
                      websites:
                        type: array
                        description: Liste der Webseiten
                        items:
                          type: object
                          properties:
                            website:
                              type: string
                              description: Webseite
                          additionalProperties: false
                    additionalProperties: false
                  address:
                    type: object
                    description: Webseite
                    properties:
                      type:
                        type: string
                        description: Adressentyp
                      nationalAdditional1:
                        type: string
                        description: Adressfeld 1
                      nationalAdditional2:
                        type: string
                        description: Adressfeld 2
                      internationalAdditional1:
                        type: string
                        description: Internationales Adressfeld 1
                      internationalAdditional2:
                        type: string
                        description: Internationales Adressfeld 2
                      street:
                        type: string
                        description: Straße
                      streetNumber:
                        type: string
                        description: Straßen-Nr.
                      zipCode:
                        type: string
                        description: Postleitzahl
                      city:
                        type: string
                        description: Ort
                      postBox:
                        type: string
                        description: Postfach
                      country:
                        type: object
                        description: Staat
                        properties:
                          code:
                            type: string
                            description: Ländercode
                          de:
                            type: string
                            description: Deutsche Bezeichnung
                          en:
                            type: string
                            description: Englische Bezeichnung
                        additionalProperties: false
                    additionalProperties: false
                  legalRepresentatives:
                    type: array
                    description: Liste der vertretungsberechtigten Personen der manuell angelegten Auftraggeberorganisation
                    items:
                      type: object
                      properties:
                        academicDegreeBefore:
                          type: string
                          description: Akademischer Grad vor dem Vornamen
                        academicDegreeAfter:
                          type: string
                          description: Akademischer Grad nach dem Familiennamen
                        commonFirstName:
                          type: string
                          description: Gebräuchlicher Vorname
                        lastName:
                          type: string
                          description: Familienname
                        function:
                          type: string
                          description: Funktion
                        contactDetails:
                          type: object
                          description: Kontaktdetails
                          properties:
                            phoneNumber:
                              type: string
                              description: Telefonnummer
                            emails:
                              type: array
                              description: Liste der E-Mail-Adressen
                              items:
                                type: object
                                properties:
                                  email:
                                    type: string
                                    format: email
                                    description: E-Mail-Adresse
                                additionalProperties: false
                          additionalProperties: false
                      additionalProperties: false
                additionalProperties: false
            clientPersons:
              type: array
              description: Liste der Auftraggeber/-innen als natürliche Person. Das Attribut ist leer, wenn die Interessenvertretung nicht im Auftrag betrieben wird oder wenn es sich bei den Auftraggebern um Organisationen handelt.
              items:
                type: object
                properties:
                  referenceName:
                    type: string
                    description: Name der referenzierten Auftraggeberin/des Auftraggebers als natürliche Person
                  referenceDetailsPageUrl:
                    type: string
                    format: uri
                    description: URL zum öffentlichen Registereintrag der referenzierten Auftraggeberin/des Auftraggebers als natürliche Person
                  academicDegreeBefore:
                    type: string
                    description: Akademischer Grad vor dem Vornamen der manuell angelegten Auftraggeberin/des manuell angelegten Auftraggebers als natürliche Person
                  academicDegreeAfter:
                    type: string
                    description: Akademischer Grad nach dem Familiennamen der manuell angelegten Auftraggeberin/des manuell angelegten Auftraggebers als natürliche Person
                  lastName:
                    type: string
                    description: Familienname der manuell angelegten Auftraggeberin/des manuell angelegten Auftraggebers als natürliche Person
                  commonFirstName:
                    type: string
                    description: Gebräuchlicher Vorname der manuell angelegten Auftraggeberin/des manuell angelegten Auftraggebers als natürliche Person
                additionalProperties: false
          additionalProperties: false
          required:
          - clientsPresent
        employeesInvolvedInLobbying:
          type: object
          description: Angaben zu den im Bereich der Interessenvertretung beschäftigten Personen
          properties:
            relatedFiscalYearFinished:
              type: boolean
              description: Gibt an, ob es ein abgelaufenes Geschäftsjahr gibt, auf das sich die Angaben beziehen
            relatedFiscalYearStart:
              type: string
              format: date
              description: Startdatum des Geschäftsjahres (TT.MM.JJJJ)
            relatedFiscalYearEnd:
              type: string
              format: date
              description: Enddatum des Geschäftsjahres (TT.MM.JJJJ)
            employeesCount:
              type: object
              description: Anzahl (Zahlenbereich) der Beschäftigten im Bereich der Interessenvertretung - ist nur relevant für Interessenvertreter/-innen die juristische Personen sind
              properties:
                from:
                  type: integer
                  description: Untere Grenze für die Anzahl der Beschäftigten
                to:
                  type: integer
                  description: Obere Grenze für die Anzahl der Beschäftigten
              additionalProperties: false
            employeeFTE:
              type: number
              description: Vollzeitäquivalents der Beschäftigten im Bereich der Interessenvertretung
          additionalProperties: false
        financialExpenses:
          type: object
          description: Angaben zu jährlichen finanziellen Aufwendungen für Interessenvertretung
          properties:
            refuseFinancialExpensesInformation:
              type: boolean
              description: Gibt an, ob Informationen zu jährlichen finanziellen Aufwendungen verweigert wurden
            refuseFinancialExpensesInformationReason:
              type: string
              description: Grund der Verweigerung
            relatedFiscalYearFinished:
              type: boolean
              description: Gibt an, ob es ein abgelaufenes Geschäftsjahr gibt, auf das sich die Angaben beziehen
            relatedFiscalYearStart:
              type: string
              format: date
              description: Startdatum des Geschäftsjahres (TT.MM.JJJJ)
            relatedFiscalYearEnd:
              type: string
              format: date
              description: Enddatum des Geschäftsjahres (TT.MM.JJJJ)
            fiscalYearCompleted:
              type: boolean
              description: Gibt an, ob es ein abgelaufenes Geschäftsjahr gibt, auf das sich die Angaben beziehen - nur relevant für Registereinträge die sich auf die Gesetzeslage 2022 beziehen.
            fiscalYearStart:
              type: string
              pattern: ^\d{4}-\d{2}$
              description: Startdatum des Geschäftsjahres (TT.MM.JJJJ) - nur relevant für Registereinträge die sich auf die Gesetzeslage 2022 beziehen
            fiscalYearEnd:
              type: string
              pattern: ^\d{4}-\d{2}$
              description: Enddatum des Geschäftsjahres (TT.MM.JJJJ) - nur relevant für Registereinträge die sich auf die Gesetzeslage 2022 beziehen
            financialExpensesEuro:
              type: object
              description: Höhe (zahlen Bereich) der jährlichen finanziellen Aufwendungen für Interessenvertretung in Euro
              properties:
                from:
                  type: integer
                  description: Untere Grenze für die jährlichen finanziellen Aufwendungen
                to:
                  type: integer
                  description: Obere Grenze für die jährlichen finanziellen Aufwendungen in Euro
              additionalProperties: false
          additionalProperties: false
        mainFundingSources:
          type: object
          description: Angaben zu Hauptfinanzierungsquellen
          properties:
            relatedFiscalYearFinished:
              type: boolean
              description: Gibt an, ob das Bezugsgeschäftsjahr abgelaufen ist
            relatedFiscalYearStart:
              type: string
              format: date
              description: Startdatum des Bezugsgeschäftsjahres (TT.MM.JJJJ)
            relatedFiscalYearEnd:
              type: string
              format: date
              description: Enddatum des Bezugsgeschäftsjahres (TT.MM.JJJJ)
            mainFundingSources:
              type: array
              description: Liste relevanter Hauptfinanzierungsquellen. Die Listenreihenfolge entspricht der Relevanz der einzelnen Quellen.
              items:
                type: object
                properties:
                  code:
                    type: string
                    description: Interner Code
                  de:
                    type: string
                    description: Deutsche Bezeichnung
                  en:
                    type: string
                    description: Englische Bezeichnung
                additionalProperties: false
          additionalProperties: false
        publicAllowances:
          type: object
          description: Angaben zu Zuwendungen und Zuschüssen
          properties:
            refusePublicAllowancesInformation:
              type: boolean
              description: Gibt an, ob Informationen zu Zuwendungen und Zuschüssen verweigert werden sollen
            refusePublicAllowancesInformationReason:
              type: string
              description: Grund der Verweigerung
            publicAllowancesPresent:
              type: boolean
              description: Gibt an, ob die Interessenvertreterin/der Interessenvertreter Zuwendungen oder Zuschüsse erhalten hat
            relatedFiscalYearFinished:
              type: boolean
              description: Gibt an, ob das Bezugsgeschäftsjahr abgelaufen ist
            relatedFiscalYearStart:
              type: string
              format: date
              description: Startdatum des Bezugsgeschäftsjahres (TT.MM.JJJJ)
            relatedFiscalYearEnd:
              type: string
              format: date
              description: Enddatum des Bezugsgeschäftsjahres (TT.MM.JJJJ)
            fiscalYearCompleted:
              type: boolean
              description: Gibt an, ob ein abgelaufenes Geschäftsjahr vorliegt
            fiscalYearStart:
              type: string
              pattern: ^\d{4}-\d{2}$
              description: Startdatum des Geschäftsjahres (MM/JJ)
            fiscalYearEnd:
              type: string
              pattern: ^\d{4}-\d{2}$
              description: Enddatum des Geschäftsjahres (MM/JJ)
            publicAllowances:
              type: array
              description: Angaben zu einzelnen Zuwendungen/Zuschüssen
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: Bezeichnung der Geberin/des Gebers
                  type:
                    type: object
                    description: Art der Zuwendungsgeberin/des Zuwendungsgebers
                    properties:
                      code:
                        type: string
                        description: Interner Code
                      de:
                        type: string
                        description: Deutsche Bezeichnung
                      en:
                        type: string
                        description: Englische Bezeichnung
                    additionalProperties: false
                  country:
                    type: object
                    description: Staat in dem sich die Zuwendungsgeberin/der Zuwendungsgeber befindet, sofern es ein Mitgliedstaat der EU oder ein Drittstaat ist
                    properties:
                      code:
                        type: string
                        description: Ländercode
                      de:
                        type: string
                        description: Deutsche Bezeichnung
                      en:
                        type: string
                        description: Englische Bezeichnung
                    additionalProperties: false
                  location:
                    type: string
                    description: Sitz der Zuwendungsgeberin/des Zuwendungsgebers
                  publicAllowanceEuro:
                    type: object
                    description: Zuwendungen/Zuschüsse in Euro, falls diese nicht verweigert wurden
                    properties:
                      from:
                        type: integer
                        description: Untere Grenze für die Zuwendungen/Zuschüsse in Euro, falls diese nicht verweigert wurden
                      to:
                        type: integer
                        description: Obere Grenze für die Zuwendungen/Zuschüsse in Euro, falls diese nicht verweigert wurden
                    additionalProperties: false
                  description:
                    type: string
                    description: Kurze Beschreibung der Leistung
                additionalProperties: false
          additionalProperties: false
        donators:
          type: object
          description: Angaben zu Schenkungen
          properties:
            refuseDonatorsInformation:
              type: boolean
              description: Gibt an, ob Informationen zu Schenkungen verweigert werden sollen
            refuseDonatorsInformationReason:
              type: string
              description: Grund der Verweigerung
            donatorsInformationPresent:
              type: boolean
              description: Gibt an, ob die Interessenvertreterin/der Interessenvertreter Schenkungen erhalten hat
            relatedFiscalYearFinished:
              type: boolean
              description: Gibt an, ob das Bezugsgeschäftsjahr abgelaufen ist
            relatedFiscalYearStart:
              type: string
              format: date
              description: Startdatum des Bezugsgeschäftsjahres (TT.MM.JJJJ)
            relatedFiscalYearEnd:
              type: string
              format: date
              description: Enddatum des Bezugsgeschäftsjahres (TT.MM.JJJJ)
            fiscalYearCompleted:
              type: boolean
              description: Gibt an, ob ein abgelaufenes Geschäftsjahr vorliegt
            fiscalYearStart:
              type: string
              pattern: ^\d{4}-\d{2}$
              description: Startdatum des Geschäftsjahres (MM/JJ)
            fiscalYearEnd:
              type: string
              pattern: ^\d{4}-\d{2}$
              description: Enddatum des Geschäftsjahres (MM/JJ)
            totalDonationsEuro:
              type: object
              description: Gesamtsumme aller erhaltenden Schenkungen
              properties:
                from:
                  type: integer
                  description: Untere Grenze für die Gesamtsumme der Schenkungen in Euro
                to:
                  type: integer
                  description: Obere Grenze für die Gesamtsumme der Schenkungen in Euro
              additionalProperties: false
            donators:
              type: array
              description: Liste einzelner Schenkungen
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: Name, Firma oder Bezeichnung der Geberin/des Gebers
                  donationEuro:
                    type: object
                    description: Betrag oder Wert der Schenkung in Euro
                    properties:
                      from:
                        type: integer
                        description: Untere Grenze für die Schenkung in Euro, falls diese nicht verweigert wurden
                      to:
                        type: integer
                        description: Obere Grenze für die Schenkung in Euro, falls diese nicht verweigert wurden
                    additionalProperties: false
                  description:
                    type: string
                    description: Kurze Beschreibung der Leistung
                additionalProperties: false
          additionalProperties: false
        membershipFees:
          type: object
          description: Angaben zu Mitgliedsbeiträgen
          properties:
            relatedFiscalYearFinished:
              type: boolean
              description: Gibt an, ob das Bezugsgeschäftsjahr abgelaufen ist
            relatedFiscalYearStart:
              type: string
              format: date
              description: Startdatum des Bezugsgeschäftsjahres (TT.MM.JJJJ)
            relatedFiscalYearEnd:
              type: string
              format: date
              description: Enddatum des Bezugsgeschäftsjahres (TT.MM.JJJJ)
            totalMembershipFees:
              type: object
              description: Gesamtsumme aller erhaltenden Mitgliedsbeiträge
              properties:
                from:
                  type: integer
                  description: Untere Grenze für die Gesamtsumme der Mitgliedsbeiträge in Euro
                to:
                  type: integer
                  description: Obere Grenze für die Gesamtsumme der Mitgliedsbeiträge in Euro
              additionalProperties: false
            individualContributorsPresent:
              type: boolean
              description: Gibt an, ob einzelne Beitragszahler/-innen vorliegen
            individualContributors:
              type: array
              description: Liste einzelner Beitragszahler/-innen
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: Name, Firma oder Bezeichnung der Beitragszahler/-innen
                additionalProperties: false
          additionalProperties: false
          required:
          - relatedFiscalYearFinished
        annualReports:
          type: object
          description: Angaben zum Jahresabschluss/Rechenschaftsbericht
          properties:
            disclosureRequirementsExist:
              type: boolean
              description: Gibt an, ob handelsrechtliche Offenlegungspflichten bestehen
            refuseAnnualFinanceStatement:
              type: boolean
              description: Gibt an, ob Informationen zum Jahresabschluss/Rechenschaftsbericht verweigert werden sollen
            refuseAnnualFinanceStatementReason:
              type: string
              description: Grund der Verweigerung
            annualReportExists:
              type: boolean
              description: Gibt an, ob ein Jahresabschluss/Rechenschaftsbericht im Allgemeinen vorhandenen ist
            annualReportLastFiscalYearExists:
              type: boolean
              description: Gibt an, ob ein Jahresabschluss/Rechenschaftsbericht vom letzten abgelaufenen Geschäftsjahr vorhandenen ist
            annualReportPreviousLastFiscalYearExists:
              type: boolean
              description: Gibt an, ob ein Jahresabschluss/Rechenschaftsbericht vom vorletzten abgelaufenen Geschäftsjahr vorhandenen ist
            finishedFiscalYearExists:
              type: boolean
              description: Gibt an, ob ein Geschäftsjahr existiert, für das ein Jahresabschluss/Rechenschaftsbericht eingereicht werden muss
            lastFiscalYearStart:
              type: string
              format: date
              description: Startdatum des letzten Geschäftsjahres. Nur verfügbar, wenn der Jahresbericht für das letzte Geschäftsjahr hochgeladen wurde.
            lastFiscalYearEnd:
              type: string
              format: date
              description: Enddatum des letzten Geschäftsjahres. Nur verfügbar, wenn der Jahresbericht für das letzte Geschäftsjahr hochgeladen wurde.
            previousLastFiscalYearStart:
              type: string
              format: date
              description: Startdatum des vorherigen letzten Geschäftsjahres. Nur verfügbar, wenn der Jahresbericht für das letzte Geschäftsjahr hochgeladen wurde.
            previousLastFiscalYearEnd:
              type: string
              format: date
              description: Enddatum des vorherigen letzten Geschäftsjahres. Nur verfügbar, wenn der Jahresbericht für das letzte Geschäftsjahr hochgeladen wurde.
            annualReportPdfUrl:
              type: string
              format: uri
              description: URL zum Herunterladen des Jahresabschlusses/Rechenschaftsberichtes als PDF
            missingAnnualReportReason:
              type: string
              description: Angegebener Grund für das Fehlen des Jahresabschlusses/Rechenschaftsberichtes
            reportWasPublishedElsewhere:
              type: boolean
              description: Gibt an, ob der Jahresabschluss/Rechenschaftsbericht an einem anderen Ort veröffentlicht wurde
            locationOfReportPublication:
              type: string
              description: Ort, an dem der Rechenschaftsbericht veröffentlicht wurde
          additionalProperties: false
        regulatoryProjects:
          type: object
          description: Angaben zu Regelungsvorhaben zu denen Interessenvertretung betrieben wird
          properties:
            regulatoryProjectsPresent:
              type: boolean
              description: Gibt an, ob die Interessenvertretung hinsichtlich eines konkreten Regelungsvorhabens betrieben wird
            regulatoryProjectsCount:
              type: integer
              description: Anzahl der Regelungsvorhaben
            regulatoryProjects:
              type: array
              description: Liste der Regelungsvorhaben
              items:
                type: object
                properties:
                  regulatoryProjectNumber:
                    type: string
                    description: ID des zugehörigen Regelungsvorhabens (RVxxxxxxx)
                  title:
                    type: string
                    description: Kurz-Bezeichnung, aus der sich die bezweckte Einflussnahme ergibt, das konkrete Regelungsvorhaben, hinsichtlich dessen Interessenvertretung zu betreiben.
                  printedMattersPresent:
                    type: boolean
                    description: Gibt an, ob das Regelungsvorhaben, zu dem Interessenvertretung betrieben wird, bereits als Entwurf in den Deutschen Bundestag oder durch die Bundesregierung in den Bundesrat eingebracht worden ist, sodass bereits eine Bundestags- oder Bundesrats-Drucksachennummer existiert.
                  printedMatters:
                    type: array
                    description: Liste der Drucksachennummern
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          description: Titel des Regelungsentwurfs mit Drucksachennummer
                        printingNumber:
                          type: string
                          description: Drucksachennummer des Regelungsentwurfs
                        issuer:
                          type: string
                          description: Gibt an, ob es sich um eine Drucksache des Bundestages oder des Bundesrates handelt
                        documentUrl:
                          type: string
                          format: uri
                          description: Link zum Volltext des Regelungsentwurfs mit Drucksachennummer
                        projectUrl:
                          type: string
                          format: uri
                          description: Link zum Vorgang des Regelungsentwurfs mit Drucksachennummer
                        leadingMinistries:
                          type: array
                          description: Federführendes Ministerium des Regelungsentwurfs mit Drucksachennummer
                          items:
                            type: object
                            properties:
                              title:
                                type: string
                                description: Name des federführenden Ministeriums
                              shortTitle:
                                type: string
                                description: Abkürzung des federführenden Ministeriums
                              url:
                                type: string
                                description: Verlinkung zur Webseite des federführenden Ministeriums
                              electionPeriod:
                                type: integer
                                description: Gibt Informationen zur Wahlperiode in der das Ministerium zuletzt unter diesem Namen existierte. Wird nur angegeben, wenn dieser Ministerium in der aktuellen Wahlperiode nicht mehr unter diesem Namen agiert.
                            additionalProperties: false
                        migratedDraftBill:
                          type: object
                          description: Wenn sich ein Referentenentwurf zu einer Drucksache weiterentwickelt wird der ursprüngliche Referentenentwurf zur Durcksache hier angegeben.
                          properties:
                            title:
                              type: string
                              description: Titel des Referentenentwurfs
                            publicationDate:
                              type: string
                              format: date
                              description: Veröffentlichungsdatum des Referentenentwurfs
                            leadingMinistries:
                              type: array
                              description: Federführende(s) Ministerium/-en des Referentenentwurfs (es kann maximal zwei federführende Ministerien geben)
                              items:
                                type: object
                                properties:
                                  title:
                                    type: string
                                    description: Title des federführenden Ministeriums
                                  shortTitle:
                                    type: string
                                    description: Offizielle Abkürzung des federführenden Ministeriums
                                  url:
                                    type: string
                                    format: uri
                                    description: Verlinkung des Webauftritt des federführenden Ministeriums
                                  electionPeriod:
                                    type: integer
                                    description: Gibt Informationen zur Wahlperiode in der das Ministerium zuletzt unter diesem Namen existierte. Wird nur angegeben, wenn dieser Ministerium in der aktuellen Wahlperiode nicht mehr unter diesem Namen agiert.
                                  draftBillDocumentUrl:
                                    type: string
                                    format: uri
                                    description: Verlinkung des Volltext des Referentenentwurfs beim federführenden Ministerium
                                  draftBillProjectUrl:
                                    type: string
                                    format: uri
                                    description: Verlinkung zum Vorgang des Referentenentwurfs beim federführenden Ministerium
                                additionalProperties: false
                          additionalProperties: false
                      additionalProperties: false
                  draftBillPresent:
                    type: boolean
                    description: Gibt an, ob zu dem Regelungsvorhaben bereits auf Grundlage eines Entwurfs auf Arbeitsebene eines Ministeriums (Referentenentwurf) ein öffentliches Beteiligungsverfahren durchgeführt wird.
                  draftBill:
                    type: object
                    description: Referentenentwurf der Bundesregierung auf den sich das Regelungsvorhaben bezieht
                    properties:
                      title:
                        type: string
                        description: Titel des Referentenentwurfs
                      publicationDate:
                        type: string
                        format: date
                        description: Veröffentlichungsdatum des Referentenentwurfs
                      customTitle:
                        type: string
                        description: Titel des Referentenentwurfes, der von der Interessenvertreterin/dem Interessenvertreter selbst eingegeben wurde
                      customDate:
                        type: string
                        format: date
                        description: Veröffentlichungsdatum des Referentenentwurfes das vom IV selbst eingegeben wurde
                      leadingMinistries:
                        type: array
                        description: Federführende(s) Ministerium/-en des Referentenentwurfs (es kann maximal zwei federführende Ministerien geben)
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                              description: Title des federführenden Ministeriums
                            shortTitle:
                              type: string
                              description: Offizielle Abkürzung des federführenden Ministeriums
                            url:
                              type: string
                              format: uri
                              description: Verlinkung des Webauftritt des federführenden Ministeriums
                            electionPeriod:
                              type: integer
                              description: Gibt Informationen zur Wahlperiode in der das Ministerium zuletzt unter diesem Namen existierte. Wird nur angegeben, wenn dieser Ministerium in der aktuellen Wahlperiode nicht mehr unter diesem Namen agiert.
                            draftBillDocumentUrl:
                              type: string
                              format: uri
                              description: Verlinkung des Volltext des Referentenentwurfs beim federführenden Ministerium
                            draftBillProjectUrl:
                              type: string
                              format: uri
                              description: Verlinkung zum Vorgang des Referentenentwurfs beim federführenden Ministerium
                          additionalProperties: false
                    additionalProperties: false
                  description:
                    type: string
                    description: Beschreibung über das Regelungsvorhaben und dem konkreten Ziel der bezweckten Einflussnahme
                  affectedLawsPresent:
                    type: boolean
                    description: Gibt an, ob mit dem angegebenen Regelungsvorhaben ein bestehendes Recht auf Bundesebene (Gesetz oder Verordnung) geändert oder aufgehoben werden soll
                  affectedLaws:
                    type: array
                    description: Liste der betroffenen geltenden Gesetze
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          description: Titel des betroffenen geltenden Gesetz
                        shortTitle:
                          type: string
                          description: Abkürzung des betroffenen geltenden Gesetz
                        url:
                          type: string
                          format: uri
                          description: Link zum betroffenen geltenden Gesetz
                      additionalProperties: false
                  fieldsOfInterest:
                    type: array
                    description: Gibt den Interessenbereich oder mehrere Interessenbereiche an, die thematisch zu dem Regelungsvorhaben zugeordnet wurden
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: Interner Code
                        de:
                          type: string
                          description: Deutsche Bezeichnung
                        en:
                          type: string
                          description: Englische Bezeichnung
                        fieldOfInterestText:
                          type: string
                          description: Freitextfeld für Interessenbereich "Sonstige"
                      additionalProperties: false
                additionalProperties: false
          additionalProperties: false
          required:
          - regulatoryProjects
        statements:
          type: object
          description: Angaben zu Stellungnahmen/Gutachten
          properties:
            statementsPresent:
              type: boolean
              description: Gibt an, ob Stellungnahmen oder Gutachten vorhanden sind.
            statementsCount:
              type: integer
              description: Anzahl der Stellungnahmen oder Gutachten.
            statements:
              type: array
              description: Liste der Stellungnahmen/Gutachten
              items:
                type: object
                properties:
                  statementNumber:
                    type: string
                    description: ID der Stellungnahme (SGjjjjmmttxxxx)
                  regulatoryProjectNumber:
                    type: string
                    description: ID des zugehörigen Regelungsvorhabens (RVxxxx)
                  regulatoryProjectTitle:
                    type: string
                    description: Title des zugehörigen Regelungsvorhabens
                  pdfUrl:
                    type: string
                    format: uri
                    description: URL zur PDF der Stellungnahme/des Gutachtens
                  pdfPageCount:
                    type: integer
                    description: Anzahl der Seiten des Dokuments
                  text:
                    type: object
                    description: Text und Copywrite Information für Stellungnahmen/Gutachten
                    properties:
                      copyrightAcknowledgement:
                        type: string
                        description: "Hinweise bzgl. Copywrite des Stellungnahmen-/Gutachtentextes: \"Die grundlegenden Stellungnahmen und Gutachten können urheberrechtlich geschützte Werke enthalten. Eine Nutzung ist nur im urheberrechtlich zulässigen Rahmen erlaubt.\""
                      text:
                        type: string
                        description: Text der Stellungnahme/des Gutachtens
                    additionalProperties: false
                  recipientGroups:
                    type: array
                    description: Liste der Adressatenkreise der Stellungnahme bzw. des Gutachtens
                    items:
                      type: object
                      properties:
                        recipients:
                          type: object
                          description: Liste der Adressaten der Stellungnahme bzw. des Gutachtens
                          properties:
                            parliament:
                              type: array
                              description: Adressaten der Hauptgruppe Bundestag
                              items:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    description: Interner Code
                                  de:
                                    type: string
                                    description: Deutsche Bezeichnung
                                  en:
                                    type: string
                                    description: Englische Bezeichnung
                                additionalProperties: false
                                required:
                                - code
                                - de
                                - en
                            federalGovernment:
                              type: array
                              description: Adressaten der Hauptgruppe Bundesregierung
                              items:
                                type: object
                                properties:
                                  department:
                                    type: object
                                    description: Information zum Ministerium, dem eine Stellungnahem zugestellt wurde.
                                    properties:
                                      title:
                                        type: string
                                        description: Title des Ministeriums
                                      shortTitle:
                                        type: string
                                        description: Offizielle Abkürzung des Ministeriums
                                      url:
                                        type: string
                                        format: uri
                                        description: Verlinkung des Webauftritt des Ministeriums
                                      electionPeriod:
                                        type: integer
                                        description: Gibt Informationen zur Wahlperiode in der das Ministerium zuletzt unter diesem Namen existierte. Wird nur angegeben, wenn dieser Ministerium in der aktuellen Wahlperiode nicht mehr unter diesem Namen agiert.
                                    additionalProperties: false
                                    required:
                                    - title
                                    - shortTitle
                                    - url
                                additionalProperties: false
                          additionalProperties: false
                        sendingDate:
                          type: string
                          format: date
                          description: Datum der Abgabe
                      additionalProperties: false
                additionalProperties: false
          additionalProperties: false
        contracts:
          type: object
          description: Angaben zu Aufträgen für Interessenvertretung
          properties:
            contractsPresent:
              type: boolean
              description: Gibt an, ob Aufträge vorhanden sind
            contractsCount:
              type: integer
              description: Anzahl der Aufträge für Interessenvertretung
            contracts:
              type: array
              description: Liste der Aufträge
              items:
                type: object
                properties:
                  description:
                    type: string
                    description: Beschreibung des Auftrages
                  fieldsOfInterest:
                    type: array
                    description: Liste der Interessen- und Vorhabenbereiche
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: Interner Code
                        de:
                          type: string
                          description: Deutsche Bezeichnung
                        en:
                          type: string
                          description: Englische Bezeichnung
                        fieldOfInterestText:
                          type: string
                          description: Freitextfeld für Interessenbereich "Sonstige"
                      additionalProperties: false
                  regulatoryProjects:
                    type: array
                    description: Zugehöriges Regelungsvorhaben
                    items:
                      type: object
                      properties:
                        regulatoryProjectNumber:
                          type: string
                          description: ID des zugehörigen Regelungsvorhabens (RVxxxx)
                        regulatoryProjectTitle:
                          type: string
                          description: Titel des zugehörigen Regelungsvorhabens (RVxxxx)
                      additionalProperties: false
                      required:
                      - regulatoryProjectNumber
                      - regulatoryProjectTitle
                  clients:
                    type: object
                    description: Liste der referenzierten Auftraggeber/-innen als Organisation. Das Attribut ist leer, wenn die Interessenvertretung nicht im Auftrag betrieben wird oder wenn es sich bei den Auftraggebern um natürliche Personen handelt.
                    properties:
                      clientOrganizations:
                        type: array
                        description: Liste der referenzierten Auftraggeber/-innen als Organisation. Das Attribut ist leer, wenn die Interessenvertretung nicht im Auftrag betrieben wird oder wenn es sich bei den Auftraggebern um natürliche Personen handelt.
                        items:
                          type: object
                          properties:
                            referenceName:
                              type: string
                              description: Name der referenzierten Auftraggeberin/des Auftraggebers als Organisation
                            referenceDetailsPageUrl:
                              type: string
                              format: uri
                              description: URL zum öffentlichen Registereintrag der referenzierten Auftraggeberin/des Auftraggebers als Organisation
                            name:
                              type: string
[...]
